<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        'general_phpdoc_tag_rename' => [
            'replacements' => [
                'inheritDoc' => 'inheritdoc',
            ],
        ],
        'native_constant_invocation' => true,
        'native_function_invocation' => true,
        'no_unused_imports' => true,
        'ordered_imports' => true,
        'phpdoc_align' => ['tags' => ['param']],
        'phpdoc_order' => true,
        'phpdoc_types_order' => ['null_adjustment' => 'always_last'],
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->in('src')
        ->in('tests')
    );

# vim: set ft=php:
