includes:
  - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
  bootstrapFiles:
    - tools/phpunit
  level: max
  paths:
    - src
    - tests
  reportUnmatchedIgnoredErrors: false

# vim: set ft=yaml:
